body, html {
    height: 100%;
  }

.jumbotron{
    position: relative;
    z-index:-101;
  }
/*I learned how to do this background video through jsfiddle.net*/
#video-background { 
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width:100%;
  }

.display-3 {
    background-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

  .bg {
    /* The image used */
    background-image: url("assets/rainy-rain-umbrella-weather-17739.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
      background-color: rgb(104, 174, 179);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border-color: slategrey;
  }

  .btn-primary {
      background-color: rgb(192, 166, 142);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border-color: slategrey;
  }

  .headings {
    /*background-color: slategrey;*/
    color: rgb(21, 37, 39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .h4 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(238, 133, 64);
  }

  .city {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .wind {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .humidity {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .tempF {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .cloud {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }